/* .MXHomePage {
    position: relative;
    width: 100%;
    height: 412px;
    overflow: hidden;
}

.MXHomePage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.content {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  max-width: 600px;
}

.content h1 {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 15px;
  opacity: 0.9;
}

.viewMore {
  background-color: white;
  color: black;
  border: 2px solid white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  padding: 12px 28px;
  line-height: 1;
  border-radius: 6px;
  height: 47px;

}

.viewMore:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: none;
} */


/* .hero-section {
  position: relative;
  height: 100vh;
  height: 391px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
  color: #fff;
}

.hero-background {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 30, 60, 0.7);
  z-index: 1;
} */


.hero {
  height: 330px;
  background-image: linear-gradient(
      rgba(34, 39, 79, 0.85), 
      rgba(34, 39, 79, 0.85)
    ), 
    url('../assets/CocktailImage.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;  
  color: white;
  text-align: left;       
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  padding: 0 60px;
}

.hero-content {
  position: relative;
  max-width: 600px;
  z-index: 2;
}

.hero-subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #a8c0d9;
}

.hero-title {
  font-size: 38px;
  font-weight: 700;
  margin: 14px 0 20px;
  line-height: 1.2;
}

.hero-text {
  font-size: 16px;
  line-height: 1.6;
  color: #e0e8f5;
  font-weight: 500;
}


.hero-button {
  border-radius: 8px;
  font-weight: bold;
  background-color: #ffffffe6;
  color: black;
  height: 37px;
}

.hero-button:hover {
  background-color: #ffffffe6;
  color: black;
}

#CaptionElementView {
  border-left: 3px solid #f47721;
  background-color: hsla(0, 0%, 50.2%, 0);
  padding: 3px 10px;
  font-size: 24px;
  font-weight: 600;
}

/* ------------------------------------------- */
#sp-appBar {
  display: none !important;
}

#CommentsWrapper {
  display: none;
}
/* #spCommandBar{display: none;} */